<div class="container my-5">
  <div class="bg-white shadow rounded">
    <div class="p-3 border-bottom">
      <div class="row align-items-center mb-1">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
          <h1 class="h5 font-weight-bold mb-0">
            Recent Orders
          </h1>
        </div>

      </div>
      <hr>
      <div class="position-relative">
        <div class="table-responsive border border-bottom-0">
          <table class="table table-sp-sm table_border_top_remover mb-0" aria-describedby="describe">
            <thead class="header_main_bg border-bottom-0  text-white">
              <tr>
                <th style="color: rgb(189, 149, 149);" scope="col" class="border-bottom-0 border-top-0">Order</th>
                <th style="color: rgb(189, 149, 149);" scope="col" class="border-bottom-0 border-top-0">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-bottom cursor-pointer">
                <td class="name_limit">
                  <div class="d-flex align-items-center flex-nowrap">

                    <div>
                      <span> Order 1 </span>

                    </div>

                  </div>
                </td>
                <td>
                  <button routerLink="/order-details" class="btn btn-outline-primary position-relative">Track
                    now</button>
                </td>
              </tr>
              <tr class="border-bottom cursor-pointer">
                <td class="name_limit">
                  <div class="d-flex align-items-center flex-nowrap">

                    <div>
                      <span> Order 2 </span>

                    </div>

                  </div>
                </td>
                <td>
                  <button class="btn btn-outline-primary position-relative" disabled>Completed</button>
                </td>
              </tr>
              <tr class="border-bottom cursor-pointer">
                <td class="name_limit">
                  <div class="d-flex align-items-center flex-nowrap">

                    <div>
                      <span> Order 3</span>

                    </div>

                  </div>
                </td>
                <td>
                  <button class="btn btn-outline-primary position-relative" disabled>Completed</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
