<div class="nav-toggle1">
  <nav
    class="navbar navbar-expand-lg navbar-light navbar navbar-expand-lg navbar-light header_main_bg py-1 px-4 text-nowrap"
    aria-label="navbar" id="notification">
    <!-- <a class="navbar-brand" routerLink="dashboard">
      <img
        src=""
        alt="no image" class="img-fluid" />
    </a> -->
    <button class="navbar-toggler px-2 border-white text-white" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul style="margin-left:78% ;" class="navbar-nav custom-navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active" style="cursor: pointer">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active" style="cursor: pointer">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="my-orders" routerLinkActive="active" style="cursor: pointer">Orders</a>
        </li>

        <li class="nav-item" style="background-color: #afa8c5">
          <a class="nav-link" routerLink="my-account" routerLinkActive="active" style=" cursor: pointer">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" style="cursor: pointer">Log Out</a>
        </li>
      </ul>
    </div>


  </nav>
</div>
<ng-container>
  <div class="py-5">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
